.input {
  font-weight: 400;
  font-size: 16px;
  width: 100%;
  color: black;
  background: #F9FCFF;
  border: 1px solid rgba(68, 86, 102, 0.45);
  border-radius: 7px;
  padding: 12px 15px;
  transition: .2s;

  &_error {
    border: 1px solid #FC4483;
  }

  &::-webkit-input-placeholder {
    color: #878787;

  }

  &_search {
    background: #F9FCFF;
    width: 100%;
    border:1px solid #44566673;
    &_active {
      padding-left:50px ;
    }
  }
}

.search_input_wrapper {
  position: relative;

  &_search_icon {
    width: 19px;
    height: 19px;
    position: absolute;
    top: 50%;
    left:15px;
    transform: translateY(-50%);
    z-index: 2;
  }
}

