@import "include/reset";
@import "include/normalize";
@import "variables";
@import "fonts";

* {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  //font-family: $gilroy;
  //color: $black;
}

html {
  scroll-behavior: smooth;
}

html, body{
  height: 100%;
}

button, input{
  background: none;
  outline: none;
  border:none
}

a {
  color: rgb(166, 166, 166);
}

button {
  cursor: pointer;
}

.block {
  padding-top:60px !important;
  padding-bottom: 80px !important;
  scroll-margin-top: 80px !important;
}

.swiper-pagination-bullet-active {
  background-color: #000 !important;
  width: 6px !important;
  height: 6px !important;
}

.swiper-pagination-bullet {
  width: 6px !important;
  height: 6px !important;
}

