$black: #000000;
$grey: #696969;
$white: #ffffff;
$purple: #e41374;
$light-grey: #f6f6f6;
$placeholder-grey: #86878b;
$search-background: #faf8f8;
$search-btn-background: #a5a7ab;
$border-grey: #eaeaea;

$gilroy: "Gilroy", Arial, Helvetica, sans-serif;
