@import "../../styles/mixin";

.modal_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #393B498C;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  @include adaptive("xsm"){
    padding: 0;
  }
}

.modal_body {
  background: white;
  padding: 31px;
  padding-bottom: 55px;
  border-radius: 7px;
  width: 100%;

  @include adaptive("xsm"){
   max-height: unset !important;
    height: 100%;
    border-radius: 0;
  }

  &_cross {
    display: flex;
    justify-content: flex-end;

    img {
      filter: brightness(1%);
      width: 20px;
      height: 20px;
      transform: rotate(45deg);
      cursor: pointer;
    }
  }
}