@import "../../styles/mixin";

.modal_body {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(57, 59, 73, 0.55);
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;

  &_input {
    background: white;
    border: none;
  }

  &_container {
    background: white;
    border-radius: 15px;
    overflow: hidden;
    min-height: 400px;
    padding: 0;
    padding-bottom: 40px;
    &_body {
      padding: 27px 30px;
    }

    &_header {
      margin-top: 0;
      width: 100%;
      padding: 27px 30px;
      background: #0187FC;
      border-radius: 15px 15px 0 0;
      display: flex;
      align-items: center;
      justify-content: space-between;

      input {
        max-width: 480px;
        width: 100%;
        margin-right: 10px;
      }
    }
  }
}

.cities_list {
  margin-top: 20px;
  max-width: 60%;
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
  @include adaptive("xsm"){
    max-width: 100%;
    width: 100%;
  }
  p {
    width: calc(100% / 4 - 20px);
    margin-left: 20px;
    margin-top: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;

    color: #0187FC;
    cursor: pointer;
  }
}